.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.wrapper {
  padding: 5px 150px;
}

.wrapper fieldset {
  margin: 0px 150;
}

.checkbox-label {
  display: flex;
  align-items:center; /* vertically center the checkbox and text */
  order: 1; /* Position the checkbox first */
}

/*style for the input (checkbox) */

.checkbox-label input {
  order: 2; /* position the input (checkbox) second */
  margin-right: 8px; /*Add some space between the checkbox and text */
}